.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(172, 172, 172);
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h5-text-center {
  text-align: center;
}
.card {
  max-width: 500px;
  justify-content: space-around;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 1%;
  border: #282c34;
  background-color: rgb(221, 217, 217);

  color: hwb(0 0% 100%);
}

input[type="text"] {
  width: 110%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="text"]:hover{
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(198, 230, 231);
}
input[type="text"]:focus {
  border: 2px solid #000000;
}
.card-header {
  text-align: left;
}
.card-title {
  text-align: center;
}
.card-body {
  width: 80%;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 15px;
  justify-content: space-around;
}


.card-content {
  text-align: left;
  align-items: flex-start;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid;
  background-color: rgb(255, 255, 255);
}
.card-content:hover {
  background-color: rgb(216, 241, 241);
}
.span-text{
  text-align: center;
  font-weight: 200;
}

.myButton {
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 40px ;
  width: 120px ;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(222, 236, 236);
  color: #000;
  padding: 10px 20px;
  float: Center; 
  cursor: pointer;
}
.myButton:hover {
  background-color: rgb(144, 216, 216);
  color: rgb(0, 0, 0);
}
.myButton:active {
  background-color: rgb(144, 216, 216);
  color: rgb(0, 0, 0);
}

